h1{
    color:blueviolet;
    border: 0.4rem dotted palevioletred 
}
h2, h3, h4, h5, h6 {
  display: none;
}
body ul li{
    color:rgb(248, 176, 200)
}
 p{
    text-decoration: underline rgba(255, 117, 186, 0.575);
    text-indent: 1rem; 
}
p.maiusculo {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  line-height: 2rem;
  word-spacing: 2rem;
  color:rgb(231, 166, 191);
  font: italic small-caps bold 2rem monospace;
  text-shadow: o.2rem 0.2rem 0.3rem #000, 0 0 1rem rgb(231, 127, 167), 0 0 2rem rgb(255, 164, 250);

}
#page1 {
    color:blueviolet;
}
.page2{
    color:blueviolet;
}
h2{
    color:blueviolet;
}
h3{
    color:blueviolet;
}
h4{
    color:blueviolet;
}
h5{
    color: blueviolet;
}
h6{
    color: blueviolet;
}
body ul li {
    color:rgb(255, 164, 250);
}